.ModalChat{
  width: 388px;
  height: 627px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 6px 6px 0 0;
  background-color: #e7e7e7;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3);
  right: 279px;
  bottom: 2px;

  &-head{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Lato;
    	font-size: 16px;
    	color: #565656;
      background-color: #ffffff;
      border-radius: 6px 6px 0 0;
    	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      height: 42px;
      font-family: Lato;
      font-size: 16px;
      color: #565656;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
  }

  &-close_btn{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 4px;
  }

  &-close_btn>svg{
    font-size: 24px;
    color: #565656;
  }

  &-footer{
    	height: 64px;
    	background-color: #ffffff;
      position: relative;
      bottom: 0;
      width: 100%;
      padding: 16px;
      display: flex;
      justify-content: flex-start;
      align-items:center;

      &-files{
        width: 24px;
      	height: 24px;
      	opacity: 0.5;
      }

      &-photo{
        width: 24px;
      	height: 24px;
      	opacity: 0.5;
      	color: #000000;
        margin-right: 10px;
      }

      & .InputText{
        max-width: 297px;
      }
  }

  &-message{
    position:relative;
    padding: 15px 16px 15px 18px;
    overflow: auto;
    z-index: 1;
    height: 520px;

    &::-webkit-scrollbar{
      width: 10px;
      background-color: #e0e0e0;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: 100px;
      background-color: #9e9d9d;
    }

    &-left{
      width: 296px;
    	height: 86px;
    	border-radius: 10px;
      background-color: #2a4468;
      font-family: Lato;
    	font-size: 15px;
    	line-height: 1.27;
      color: #ffffff;
      position: relative;
      left: 27px;
      padding: 14px 24px;
      margin-bottom: 12px;
      display: flex;
      flex-wrap: wrap;
    }

    &-right{
      display: flex;
      flex-direction: row;
      width: 296px;
    	border-radius: 10px;
    	background-color: #ffffff;
      position: relative;
      padding: 14px 24px;
      margin-bottom: 12px
    }
    &-right-text{
      width: 250px;
      font-family: Lato;
      font-size: 15px;
      line-height: 1.27;
      color:  #535252;
      margin-left: 21px;
      display: flex;
      flex-wrap: wrap;
  }
    &-avatar{
        flex: 2;
        width: 50px;
        height: 50px;
      }
  }
}
