.JobsColumn {
  display: flex;
  width: 210px;
  background-color: #56504e;
  box-shadow: 0 2px 5px 0 #595858;
  flex-direction: column;
  animation: slideIn 0.3s forwards;
  z-index: 1;

  &-new-job {
    position: relative;
    border: none;
    align-self: center;
    width: 160px;
    height: 28px;
    border-radius: 90px;
    background-color: #8c807b;
    box-shadow: 0 2px 5px 0 #4c4947;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
  }

  &-icon {
    position: absolute;
    left: 5px;
    top: 5px;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    border-bottom: 2px solid #413e3d;
  }
}
